<body class = "bg-black" style="min-height: 1080px;">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script> 
   
    <a style = "margin-top: -10%;" href="https://www.linkedin.com/in/grant-h-11482314a/" >LinkedIn</a>
    <a style = "margin-top: -5%;" href="https://docs.google.com/document/d/1axkFZU-2N3rfRbjlO-XfjU07RH3wppzc7Lo_mqvqwz0/edit?usp=sharing" >Email</a>
    <a  href="https://docs.google.com/document/d/1xYFhaP0VYumWh97bnNHiYS79L90pYe8q4f3IVpaRmZs/edit?usp=sharing" >Phone</a>
    <a style = "margin-top: 5%;" href="https://wvu.joinhandshake.com/users/20112878" >Handshake</a>
    <a style = "margin-top: 10%;" href="https://www.instagram.com/grant_holzemer/" >Instagram</a>

</body>




