<body class = "text-center" style="min-height: 1080px;  padding-top:6%; background-color: rgb(38, 38, 38);">
<li style="color: rgb(38, 38, 38);">Safari is wierd so this is my best solution for mobile padding rn</li>    
<li style="color: rgb(38, 38, 38);">Safari is wierd so this is my best solution for mobile padding rn</li>
<li style="color: rgb(38, 38, 38);">Safari is wierd so this is my best solution for mobile padding rn</li>
<li style="color: rgb(38, 38, 38);">Safari is wierd so this is my best solution for mobile padding rn</li>        
<li style="color: rgb(38, 38, 38);">Safari is wierd so this is my best solution for mobile padding rn</li>
<div class = "container">
    
    
    <div class = "mt-5" ><a  href="https://www.linkedin.com/in/grant-h-11482314a/" >LinkedIn</a></div>
    <div class = "mt-5" ><a href="https://docs.google.com/document/d/1axkFZU-2N3rfRbjlO-XfjU07RH3wppzc7Lo_mqvqwz0/edit?usp=sharing" >Email</a></div>
    <div class = "mt-5" ><a  href="https://docs.google.com/document/d/1xYFhaP0VYumWh97bnNHiYS79L90pYe8q4f3IVpaRmZs/edit?usp=sharing" >Phone</a></div>
    <div class = "mt-5" ><a  href="https://wvu.joinhandshake.com/users/20112878" >Handshake</a></div>
    <div class = "mt-5" ><a  href="https://www.instagram.com/grant_holzemer/" >Instagram</a></div>
</div>






</body>




