<footer class = " pb-4 bg-black " >
    
    <div class=" list-group-item-action bg-black">
        
        


          <div style ="margin-left: 320px;">
              _____________________________________________________________________________________________________________________________________________________________________________________
              
          </div>
          <table class="table-small">
            <thead>
              <tr>
                <th scope="col" class =""><a class = "nav-link text-muted" style = "font-size: small; margin-left: 320px;">Copyright © 2021 Grant Holzemer. All rights reserved.</a></th>
              
                
              </tr>
            </thead>
            </table>
    </div>



</footer>

