<footer class="pb-4 pt-3" style="background-color: #444444; border-top: solid 2px rgb(138, 208, 255); height: 10vh;">
    <div class="row">
        <div class="col text-center text-white">Last Updated: Wed March 22 2023</div>
        <div class="col text-center text-white">Grant P. Holzemer</div>
        <div class="col text-center text-white ">
            <a class="hover-underline-animation hover-text-white"
                href="https://www.linkedin.com/in/grant-holzemer/">Linkedin </a> ||
            <a class="hover-underline-animation hover-text-white" href="https://github.com/gholzemer">github </a> ||
            <a class="hover-underline-animation hover-text-white" href="https://my.indeed.com/p/granth-5fmsz89">indeed
            </a> ||
            <a class="hover-underline-animation hover-text-white"
                href="https://app.joinhandshake.com/stu/users/20112878">handshake </a> ||
            <a class="hover-underline-animation hover-text-white" href="mailto:gh0026@mix.wvu.edu">Email </a>
        </div>
    </div>
</footer>