<h4>
    
    <div class = "navbar justify-content-center gap-5 fixed-top p-3 bg-black" style = "border-bottom: rgb(0, 151, 252) solid 3px;">
        <a class = "nav-link  fs-6 hover-underline-animation hover-text-white" routerLink="/">Home</a>
        <a class = "nav-link  fs-6 hover-underline-animation hover-text-white" routerLink="/AboutMe" >About Me</a>
        
        <a class = "nav-link  fs-6 hover-underline-animation hover-text-white" routerLink="/ContactMe">Contact Me</a>
        <a class = "nav-link  fs-6 hover-underline-animation hover-text-white" href = "/CoffeeReviews" >Coffee Reviews</a>
        <a class = "nav-link  fs-6 hover-underline-animation hover-text-white" routerLink="/MyWebsiteArchive" >My Websites Archive</a>
    </div>
</h4>