
<div class = "gap-4 justify-content-end fixed-top ps-2 pe-4" style = "background-color: #444444; border-bottom: rgb(138, 208, 255) solid 3px;">
    <div class="row navbar">
        <div class="col-2"></div>
        <div class="col text-start fs-5" style="color: rgb(138, 208, 255) ; font-style:italic; font-family: Trebuchet MS;">    
            Grant Holzemer
        </div>
        <div class="col text-center" style="font-family: Haettenschweiler;">
            <a class = "fs-5 " routerLink="/"><span class="hover-underline-animation hover-text-white">About</span></a>
            <a class = "fs-5 ps-5 ms-2" routerLink="/AboutMe" ><span class="hover-underline-animation hover-text-white">Projects</span></a>
            <a class = "fs-5 ps-5 ms-2" routerLink="/projects" ><span class="hover-underline-animation hover-text-white">Skills</span></a>
            <a class = "fs-5 ps-5 ms-2" routerLink="/ContactMe"><span class="hover-underline-animation hover-text-white">Contact</span></a>
        </div>
    </div>

</div>
            