
.hover-underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none;
  
  }
  
  .hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: rgb(138, 208, 255);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
   
  }
  
  .hover-text-white{
    color: white;
  }
  .hover-text-white:hover{  
    color:rgb(138, 208, 255);
  }

  
.hide {
    overflow-y: hidden;
    overflow-x: hidden;
}

 /* width */
 ::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: red;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: red;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
} 






