
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>  
<nav>
    <div class = "hide gap-4 justify-content-end fixed-top ps-2 pe-4 " style = "background-color: #444444; border-bottom: rgb(138, 208, 255) solid 3px; opacity: 88%;">
        <div class="row p-4 text-center">
            <div class="col text-center fs-4 fw-bold" style="color: white; ">    
            </div>
            <div class="col text-center fs-4 fw-bold" style="color: white;" >    
                <a class="hover-underline-animation hover-text-white" style="text-decoration: None;" href="/home">GRANT HOLZEMER</a>
            </div>
            <div class="col fs-5 text-end fw-bold" style="color: rgb(138, 208, 255); ">    
                    <a class = "fs-5 pe-5" href="#about"><span class="hover-underline-animation hover-text-white" style="letter-spacing: .38vh; font-family: monospace;">ABOUT</span></a>
                    <a class = "fs-5 pe-5" href="#resume"><span class="hover-underline-animation hover-text-white"            style="letter-spacing: .38vh; font-family: monospace;">RESUME</span></a>
                    <a class = "fs-5 pe-5" href="#work"><span class="hover-underline-animation hover-text-white"            style="letter-spacing: .38vh; font-family: monospace;">WORK</span></a>
            </div>
        </div>
    </div>
</nav>

 <div class="hide" style="background-color: #232323; padding-top: 150px; overflow: hidden;">
    
    <div class="text-center text-white fs-5" style="height: 12vh; font-family:'Courier New', Courier, monospace;">
        HELLO, WORLD!
    </div>
    
    <div  class="text-center text-white fs-4 " style="height: 43vh; background-size: cover; background-repeat: no-repeat; background-attachment: fixed; background-image: url(https://i.imgur.com/4Liy9n5.jpg;)"></div>
    <div id="about" style="height:10vh"></div>
    <div class="text-white text-center mb-5 pb-5 fs-4" style=" font-family:'Courier New', Courier, monospace;">About</div>
    <div  class="description row pt-5 mt-5 pb-5 mb-5" style="background-image: linear-gradient(rgba(194, 40, 255, 0.864), rgba(125, 199, 252, 0.83)); background-attachment: fixed;">
        <div class="col"></div>
        <div class="col text-white p-5" style="background-color:#232323; border-radius: 1vh; font-family:'Courier New', Courier, monospace;">

            <div data-aos="fade-right" data-aos-duration="2000">> <span style="color:orange">print(</span><span style="color:aqua">grant.location</span><span style="color:orange">)</span></div>
            <div class="pb-4" style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Northern Virginia</div>

            <div data-aos="fade-right" data-aos-duration="2000">> <span style="color:orange">System.out.println(</span><span style="color:aqua">grant.education</span><span style = "color: orange;">)</span>;</div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Computer Science, West Virginia University <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="http://wvill.images.worldnow.com/images/539497_G.png"/></div>
            <div class="pb-4" style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Expected Graduation: May 2023</div>
            
            <div data-aos="fade-right" data-aos-duration="2000">> <span style="color:orange">cout <<</span><span style="color:aqua"> grant.work </span>;</div>
            <div class="pb-4" style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Raytheon Software Engineer, May 2022 - August 2022</div>

            <div data-aos="fade-right" data-aos-duration="2000">> <span style="color:orange">console.log(</span><span style="color:aqua"> grant.info </span><span style="color:orange">)</span></div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Resume: <a href="/assets/Resume.pdf">GrantHolzemerResume.pdf</a></div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> github: <a href = "https://github.com/gholzemer">github.com/gholzemer</a></div>
            <div class="pb-4" style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> linkedin: <a href = "https://www.linkedin.com/in/grant-holzemer/">linkedin.com/in/grant-holzemer</a></div>

            <div data-aos="fade-right" data-aos-duration="2000">> <span style="color: orange;">printf(</span><span style="color:yellow;">"\n %s"</span><span style="color:orange">,</span><span style="color:aqua;"> grant.hobbies</span><span style="color: orange;">)</span>;</div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Fitness.</div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Golf.</div>
            <div style="text-indent: 2vh;" data-aos="fade-right" data-aos-duration="2000">=> Coffee.</div>
        </div>
        <div class="col"></div>
        <div id="resume" style="height:.2vh"></div>
    </div>
    <div class="row border-bottom ms-5 me-5 mb-5 pb-5">
        <div class="col"></div>
        <div class="col text-center fs-4 text-white" style=" font-family:'Courier New', Courier, monospace;">
            Resume
        </div>
        <div class="col">

        </div>
    </div>
    <div class="row" >
        <div class="work col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            Education
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="work">West Virginia University <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="http://wvill.images.worldnow.com/images/539497_G.png"/></p>
            <p class="desc">Degree: Computer Science</p>
            <p class="desc">President’s List: Fall 2021, Spring 2020</p>
            <p class="desc pt-2">Relevant Coursework</p>
            
        </div>
        <div class="col text-start text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="work">Graduation: May 2023</p>
            <p class="desc">3.8 / 4.0</p>
            <p class="desc">Dean's List: Fall 2021, Spring 2020, Spring 2022</p>
            <p class="desc pt-2">Algorithms, File and Data Structures,
                Advanced Software Engineering, Web Application Design
                Computer System Concepts, Computer Communications,
                Intro to Computer Architecture</p>
        </div>
    </div>
    <div class="row pt-5">
        <div id="work" class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            Languages & Skills
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="desc">Languages: Java<img style = "height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/java-logo.png"/>, 
                C <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/c-logo.png"/>, 
                Python <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/python-logo.png"/>, 
                JavaScript <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/javascript-logo.svg"/>, 
                PHP <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/php-logo.png"/>, 
                Typescript <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/typescript-logo.png"/>, 
                SQL <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/sql-logo.png"/>, 
                HTML <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/html-logo.svg"/>, 
                CSS <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/css-logo.png"/></p>
            <p class="desc">Skills: Git <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/git-logo.png"/>, 
                Electron <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/electron-logo.png"/>, 
                MySQL <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/mysql.png"/>, 
                React <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/react-logo.png"/>, 
                NodeJS <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/nodejs-logo.svg"/>, 
                AngularJS <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/angularjs-logo.png"/>, 
                AWS<img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/aws-logo.png"/>, 
                Azure <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/azure-logo.png"/>, 
                Agile <img style = " height:4vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/agile-logo.png"/></p>
            <p class="desc" data-aos="fade-up" data-aos-duration="1000">Any Communication Skills? Call me to find out: 703 - 677 - 7288</p>
      
        </div>
        </div>
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            Experience
            <div>
                <img style = " height:15vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/rtx-logo.png"/>
            </div>
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">Raytheon Intelligence & Space</p>
            <p class="desc">Date: May 2022 - August 2022</p>
            <p class="desc">Role: Software Engineer Intern</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="desc">Developed a cross-platform application for tracking all active/decayed commercial satellites with Python, Electron,
                AngularJS, MySQL, PHP REST API, and the database hosted with AWS’s GovCloud (formally devcloud).</p>
            <p class="desc">Satellites, constellations, or selected objects could be sent into a modeling tool called STK with the TLE's of every individual satellite from the GUI for live simulating or architecting.</p>
            <p class="desc">I worked alongside another intern who specialized in MatLab and the STK modeling tool.</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            <img style = " height:15vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/wvufb-logo.png"/>
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">RMS Mobile Application</p>
            <p class="fs-5">Date: August 2022 - Present</p>
            <p class="fs-5">Role: Software Developer</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5">Currently, designing and engineering a full stack IOS/AppleTV application for automating the WVU athletic departments
                rehabilitation process with React Native, REST API, Microsoft SQL.</p>
            <p class="fs-5">Using scrum protocols practicing agile software development methodologies including test focused
                development of the application.</p>
            <p class="fs-5">Our current team size is 7.</p>
        </div>
    </div>
    
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            <img style = " height:15vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/interstate-logo.png"/>        
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">Interstate Van Lines</p>
            <p class="fs-5">Date: December 2021 - January 2022</p>
            <p class="fs-5">Role: Administrative Assistant Intern</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5">Archiving and cataloging of email databases / dated documentation.</p>
            <p class="fs-5">Online researching of other competitors and compilation of the findings.</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            <img style = " height:22vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/angularjs-logo.png"/>
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">Graphical Resume Builder</p>
            <p class="fs-5">Date: August 2021 - January 2022</p>
            <p class="fs-5">Role: Software Developer</p>
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5">Component based graphical resume builder implemented w/ Typescript , HTML, Bootstrap & Firebase.</p>
            <p class="fs-5">Agile methodologies allowed us to efficiently create a full-stack application and test it with selenium.</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            <img style = " height:15vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/cyberwvu-logo.png"/>
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">CyberWVU</p>
            <p class="fs-5">Date: September 2020 - April 2022</p>
            <p class="fs-5">Role: Executive Coordinator</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5">Organized and coordinated cybersecurity related meetings/exercises.</p>
            <p class="fs-5">Communicated and scheduled meetings with guest speakers.</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            <img style = " height:15vh;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="/assets/img/qemu-logo.png"/>
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">QEMU x86 Operating System</p>
            <p class="fs-5">Date: January 2020 - June 2020</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5">With a small team created a simple multiprogramming operating system in C and assembly.</p>
            <p class="fs-5">Multiprogramming allowed multiple processes to be in memory along with interrupt driven I/O.</p>
        </div>
    </div>

    <div class="row pt-5 mt-5 pb-5">
        <div class="col-4 text-white text-center fs-4 border-end" style="font-family:'Courier New', Courier, monospace;">
            Military
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="2000">
            <p class="fs-3">Rank: Specialist</p>
            <p class="fs-5">Assigned to the 601st Engineering Support Company</p>
            <p class="fs-5">Date: June 2020 - August 2022</p>
            
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up" data-aos-duration="1000">
            <p class="fs-5 pt-3">Allows me to further develop my leadership, teamwork, organizational skills and better serve and support my community.</p>
        </div>
    </div>
    <div class="row pt-5 border-top me-5 ms-5 pb-5">
        <div class="col text-white text-center fs-4" style="font-family:'Courier New', Courier, monospace;">
            Personal Projects
        </div>
        <div class="col text-center text-white" style="font-family: monospace;" data-aos="fade-up">
            <p>My Personal Website | Your on it! | Created with AngularJS, Bootstrap, Hosted with Firebase and GoDaddy</p>
            <p class="pt-2">Small 2D Game (Java) | August - October 2019</p>
            <p class="pt-2">Acupuncture Business Website | March 2022 - Present</p>
        </div>
        <div class="col text-center ms-5 text-white fs-4" style="font-family:'Courier New', Courier, monospace;">
            Awards & Accomplishments
        </div>
        <div class="col text-start ms-5 text-white" style="font-family: monospace;" data-aos="fade-up">
            <p>Research Scholarship</p>
            <p>Locked Shields | NATO Cyber Security Exercise</p>
            <p>Honor Graduate (BCT)</p>
            <p>Distinguished Honor Graduate(AIT)</p>
        </div>
    </div>
</div>