
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>  

 <body  style="background-color: rgb(0, 0, 0); padding-top: 150px;">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>    
    
    <div style="margin-top: 5%;">
            <div data-aos="fade-up" data-aos-duration="3000" class = "col ms-4 text-white" style="margin-top: 4%;" >
                <h1 class = "text-start">Thanks</h1>
            </div>
            <div data-aos="zoom-in" data-aos-duration="3000" class = "col text-white">
                <h1 class="text-center">For</h1>
            </div>
            <div data-aos="fade-left" data-aos-duration="3000" class = "col me-4 text-white">
                <h1 class = "text-end">Clicking</h1>
            </div>

    </div>
    <div style="margin-top: 4%;" >
        <div data-aos="fade-right" data-aos-duration="2000" class = "col text-white ms-4" style = "font-size: 70px;">
                <p>Start</p>
            </div>
            <div data-aos="fade-down" data-aos-duration="3000" class = "col text-white text-center" style = "font-size: 90px; margin-top: 1%; font-weight:600;">
                <p>Scrolling.</p>
            </div>
    </div>

        
    <div class = "container"  style = "margin-top: 25%;">
        <div  class = "row">
            <div  class = "column text-white" >
                <div style = "font-size: 50px;" data-aos="fade-right" data-aos-duration="2000">Are You Motivated?</div>
            </div>
        </div>
    </div>

    <div class = "container "  style = "margin-top: 25%;">
        <div  class = "row">
            <div  class = "column text-white text-end" >
                <div  style = "font-size: 50px;" data-aos="fade-left" data-aos-duration="2000">Or Are You Passionate?</div>
            </div>
        </div>
    </div>

    <div class = "container"  style = "margin-top: 30%;">
        <div  class = "row">
            <div  class = "column text-white text-center" >
                <div  style = "font-size: 50px;" data-aos="zoom-out-up" data-aos-duration="2000">Because There is a</div>
            </div>
        </div>
    </div>

    <div class = "container " >
        <div  class = "row">
            <div  class = "column text-white text-center" >
                <div  style = "font-size: 95px;" data-aos="zoom-in" data-aos-duration="3000">BIG</div>
            </div>
        </div>
    </div>

    <div class = "container "  >
        <div  class = "row">
            <div  class = "column text-white text-center" >
                <div  style = "font-size: 50px;" data-aos="zoom-out-down" data-aos-duration="2000">Difference</div>
            </div>
        </div>
    </div>


    <div class = "container"  style = "margin-top: 25%; width:auto">
        <div  class = "row">
            <div  class = "column text-white text-center " style = "margin-left: -15%;" >
                <div style = "font-size: 50px;" data-aos="fade-right" data-aos-duration="2000">Motivation</div>
            </div>
        </div>
    </div>
    <div class = "container" style ="margin-left: 500px; margin-top: 2%;" >
        <div  class = "row">
            <div  class = "column text-white text-center" >
                <div style = "font-size: 50px;" data-aos="zoom-in" data-aos-duration="3000">is</div>
            </div>
        </div>
    </div>
    <div class = "container text-center"  style = "margin-top: 5%; margin-right: -15%;">
        <div  class = "row">
            <div  class = "column text-white" >
                <div style = "font-size: 50px; font-style: italic;" data-aos="fade-up" data-aos-duration="3000" data-aos-anchor-placement="top"  data-aos-easing="ease-in-sine">Temporary.</div>
            </div>
        </div>
    </div>
    
    <div class = "container"  style = "margin-top: 15%;">
        <div  class = "row">
            <div  class = "column text-white text-start" >
                <div style = "font-size: 50px;" data-aos="fade-right" data-aos-duration="2000">But Passion is</div>
            </div>
        </div>
    </div>

   


<div class = "text-white text-center" style="font-size: 50px; font-weight: 700;">
    <span style = "color:rgb(0, 151, 252);" data-aos="fade-up" data-aos-duration="3000" data-aos-offset="150"> P</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="200"> E</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="250"> R</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="300"> M</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="350"> A</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="400"> N</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="450"> E</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="500"> N</span>
    <span  style = "color:rgb(0, 151, 252);"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="550"> T</span>
    <span  style = "color:red;"  data-aos="fade-up" data-aos-duration="3000" data-aos-offset="600"> .</span>
</div>

    
<div class = "container"  style = "margin-top: 25%;">
    <div  class = "row">
        <div  class = "column text-white text-start" >
            <div style = "font-size: 50px;" data-aos="fade-right" data-aos-offset="250" data-aos-duration="3000">Everyone is Passionate for Something...</div>
        </div>
    </div>
</div>
<div class = "container"  style = "margin-top: 25%;">
    <div  class = "row">
        <div  class = "column text-white text-start" >
            <div style = "font-size: 50px;" data-aos="fade-right" data-aos-offset="250" data-aos-duration="3000">Mine</div>
        </div>
    </div>
</div>
<div class = "container"  style = "margin-top: 5%;">
    <div  class = "row">
        <div  class = "column text-white text-center" >
            <div style = "font-size: 50px;" data-aos="fade-right" data-aos-offset="250" data-aos-duration="3000">is</div>
        </div>
    </div>
</div>
<div class = "container text-end "  style = "margin-top: 5%;">
    <div class = "row" >
        <div  class = "column text-white" >
            <div style = "font-size: 50px; color: springgreen; font-weight: 800; " data-aos="fade-right" data-aos-offset="250" data-aos-duration="3000">Printf("%s", Code.)</div>
        </div>
    </div>
</div>


<div class = "container p-4"  style = "margin-top: 25%; border: white solid 2px;">
    <div  class = "row">
        <div  class = "column text-white text-center" >
          <a class="hover-underline-animation hover-text-white" routerLink="/ContactMe" ><div style = "font-size: 50px;" data-aos="zoom-in" data-aos-offset="250" data-aos-duration="3000">Contact Me</div></a>
        </div>
    </div>
</div>
<div class = "container p-4"  style = "margin-top: 4%; border: white solid 2px;">
    <div  class = "row">
        <div  class = "column text-white text-center" >
           <a class ="hover-underline-animation hover-text-white" routerLink="/AboutMe"> <div style = "font-size: 50px;" data-aos="zoom-in" data-aos-offset="250" data-aos-duration="3000">About Me</div></a>
        </div>
    </div>
</div>






<img style = "float: left;" data-aos="fade-up" data-aos-duration="1000" data-aos-anchor-placement="top" data-aos-offset="250" src="http://wvill.images.worldnow.com/images/539497_G.png"/>



</body>
 






<!-- 
    let bg = document.getElementById("bg")!
        let moon = document.getElementById("moon")!
        let mountain = document.getElementById("mountain")!
        let road = document.getElementById("road")!
        let text = document.getElementById("text")!
       
        window.addEventListener('scroll', function(){
            var value = window.scrollY;
            bg.style.top = value * 0.5 + 'px';  
            moon.style.left = -value * 0.5 + 'px';  
            mountain.style.top = -value * 0.5 + 'px';  
            road.style.top = value * 0.15 + 'px';  
            text.style.top = value * 0.15 + 'px';  
            
        })
    -->








<!--<div
class="bg-image"
style="
  background-image: url('https://i.imgur.com/zC8y5wj.jpg');
  height: 80vh;
  
  background-repeat: no-repeat;
  background-size: 1920px 800px;
"
>
    
    
      <div class = "text-center  background-image"> 
        
                <a href = "#"><p class=" text-white above mt-5">
                    Intel
                </p></a>
                 <p>
                <a href="#"><p class="text-white above" style="font-size: 25px; font-weight: lighter;">
                    GAMES AND SAVINGS ON SELECT RAZER BLADES
                </p>
                 </a> 
                </p>
                <p class="text-white" style="font-size: 20px; font-weight: lighter;">
                    <a  href="#" class = "hover-underline-animation text-white ">
                        Learn More<span class = "" style="color: lime;">
                        >
                        </span>
                    </a> 
                </p>
                
        </div> 
        
    

</div>
-->